<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Accede a la Galería</title>
	<link rel="stylesheet" th:href="@{/css/acceso.css}" />
</head>

<body>

	<!--Muestra un mensaje de bienvenida con el nombre registrado-->
	<h1 th:if="${mensajeBienvenida}" th:text="${mensajeBienvenida}"></h1>

	<!--Diferentes enlaces para acceder a las páginas de la aplicación web-->
	<div>
		<a th:href="@{/galeria}" class="enlace e1">Acceder a la galería de arte</a>
	</div>

	<div>
		<a th:href="@{/Ranking}" class="enlace e2">Ranking de votación</a>
		<img>
	</div>

	<div>
		<a th:href="@{/CuadroAleatorio}" class="enlace 3">Mostrar cuadro aleatorio</a>
	</div>
</body>

</html>