<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Exposición de cuadros</title>
	<link rel="stylesheet" th:href="@{/css/galeria.css}" />
</head>

<body>

	<!--Menú de navegación fijo para acceder a diferentes páginas-->
	<nav class="navegador">
		<div class="enlaces e1"><a th:href="@{/acceso}">Acceso</a></div>
		<div class="enlaces e2"><a th:href="@{/Ranking}">ranking</a></div>
		<div class="enlaces e3"><a th:href="@{/CuadroAleatorio}">Cuadro Aleatorio</a></div>
	</nav>

	<!-- Recorre el bucle del arrayList galeria para mostrar todos los cuadros con sus datos-->
	<div th:each="cuadro: ${galeria}"  class="obra">	
		<img th:src="@{${cuadro.urlImg}}" alt="Cuadro"/>
		<h3 th:text="${cuadro.nombre}"></h3>
		<p th:text="'Autor: ' + ${cuadro.autor}"></p>
		<p th:text="'Época: ' + ${cuadro.EpocaPintura}"></p>
		
		<!--Formulario para votar-->
		<form th:action="@{/votar}" method="post">
			<input type="hidden" name="nombreCuadro" th:value="${cuadro.nombre}">
			<label for="puntuacion">Puntúa:</label><br>
			<select name="puntuacion" required>
				<option value="">Selecciona una puntuación</option>
				<option value="1">1 - Muy mala</option>
				<option value="2">2 - Mala</option>
				<option value="3">3 - Regular</option>
				<option value="4">4 - Buena</option>
				<option value="5">5 - Excelente</option>
			</select><br>
			<button type="submit">Votar</button>
		</form>
	</div>
</body>

</html>