<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Regístrate</title>
	<link rel="stylesheet" th:href="@{/css/inicio.css}" />
</head>

<body>
	
	<h1>Regístrate para poder accceder a nuestra galería de arte</h1>
	<!--Muestra el mensaje en caso de acceder a la galería sin haberse registrado antes-->
	<p th:if="${mensajeError}" th:text="${mensajeError}" style="color:red"></p>

	<!-- Formulario para registrar nombre y contraseña-->
		<form action="/acceso" method="post" class="formulario">
			<label for="username">Nombre*</label>
			<br>
			<input type="text" name="nombre" class="datos" minlength="5" autofocus required>
			<br><br>
			<label for="password">contraseña*</label>
			<br>
			<input type="password" name="contraseña" class="datos" required>
			<br><br>
			<input type="checkbox" name="recuerda"/>
			<label>Recordar nombre y contraseña</label>
			<br><br>
			<input type="submit" value="Enviar" class="boton">
		</form>
	
</body>

</html>