<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{acceso.titulo}">Accede a la Galería</title>
    <link rel="stylesheet" th:href="@{/css/acceso.css}" />
	<link rel="icon" type="image/png" th:href="@{https://res.cloudinary.com/dzjb4fkau/image/upload/v1770106134/logo_xjk4gb.png}">
</head>

<body>
    <div class="contenedor-idioma">
        <button class="boton-idioma" onclick="toggleMenu()" th:text="#{idioma.boton}">Idioma</button>
        <ul id="listaIdiomas" class="menu-desplegable">
            <li><a th:href="@{''(lang=es)}">Español</a></li>
            <li><a th:href="@{''(lang=en)}">English</a></li>
        </ul>
    </div>

    <h1 th:if="${mensajeBienvenida}" th:text="#{acceso.bienvenida(${mensajeBienvenida})}">Bienvenido</h1>

    <div>
        <a th:href="@{/galeria}" class="enlace e1" th:text="#{acceso.link.galeria}">Acceder a la galería de arte</a>
    </div>

    <div>
        <a th:href="@{/Ranking}" class="enlace e2" th:text="#{acceso.link.ranking}">Ranking de votación</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/nuevoCuadro}" class="enlace e1" th:text="#{acceso.link.nuevo}">Añadir Nuevo Cuadro</a>
    </div>

    <div>
        <a th:href="@{/CuadroAleatorio}" class="enlace e3" th:text="#{acceso.link.aleatorio}">Mostrar cuadro aleatorio</a>
    </div>
	<div>
	        <a th:href="@{/filtrar}" class="enlace e2" th:text="#{acceso.link.filtrar}">Filtrar Cuadros</a>
	    </div>

    <div>
        <a th:href="@{/logout}" class="enlace e3" th:text="#{acceso.link.logout}">Cerrar Sesión</a>
    </div>

    <script th:src="@{/js/scripts.js}"></script>

</body>
</html>