<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{galeria.titulo}">Exposición de cuadros</title>
	<link rel="stylesheet" th:href="@{/css/galeria.css}" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="icon" type="image/png" th:href="@{https://res.cloudinary.com/dzjb4fkau/image/upload/v1770106134/logo_xjk4gb.png}">
</head>

<body>

	<!--Menú de navegación fijo para acceder a diferentes páginas-->
	<nav class="navegador">
		<div class="enlaces e1"><a th:href="@{/acceso}" th:text="#{nav.acceso}">Acceso</a></div>
		<div class="enlaces e2"><a th:href="@{/Ranking}" th:text="#{nav.ranking}">Ranking</a></div>
		<div class="enlaces e3"><a th:href="@{/CuadroAleatorio}" th:text="#{nav.aleatorio}">Cuadro Aleatorio</a></div>
		<div class="enlaces e3"><a th:href="@{/filtrar}" th:text="#{nav.filtrar}">Filtrar</a></div>
		<div sec:authorize="hasRole('ADMIN')" class="enlaces e3"><a th:href="@{/nuevoCuadro}" th:text="#{nav.nuevo}">Añadir Cuadro</a></div>
		<div class="enlaces e3"><a th:href="@{/logout}" th:text="#{nav.logout}">Cerrar Sesión</a></div>
	</nav>

	<!-- Recorre el bucle del arrayList galeria para mostrar todos los cuadros con sus datos-->
	<div th:each="cuadro: ${galeria}" class="obra">
		<img th:src="@{${cuadro.urlImg}}" alt="Cuadro" />
		<h3 th:text="${cuadro.nombre}"></h3>
		<p class="dato-obra">
		    <strong th:text="#{galeria.autor}">Autor:</strong> 
		    <span th:text="${cuadro.autor}">Nombre Autor</span>
		</p>
		<p class="dato-obra">
		    <strong th:text="#{galeria.epoca}">Época:</strong> 
		    <span th:text="${cuadro.epocaPintura}">Época</span>
		</p>

		<!--En caso de haber votado manda muestra el mensaje de aviso-->
		<div th:if="${mensajeError != null and idCuadroError == cuadro.id}"
			style="background-color: #ffdddd; color: red; border: 1px solid red; padding: 5px; margin-bottom: 10px;">
			<span th:text="${mensajeError}"></span>
		</div>
		<!--Formulario para votar-->
		<form th:action="@{/votar}" method="post">
			<input type="hidden" name="CuadroId" th:value="${cuadro.id}">
			<label for="puntuacion" th:text="#{galeria.voto.titulo}">Puntúa:</label><br>
			<select name="puntuacion" required>
				<option value="" th:text="#{galeria.voto.opcion.defecto}">Selecciona una puntuación</option>
				<option value="1" th:text="#{galeria.voto.opcion.1}">1 - Muy mala</option>
				<option value="2" th:text="#{galeria.voto.opcion.2}">2 - Mala</option>
				<option value="3" th:text="#{galeria.voto.opcion.3}">3 - Regular</option>
				<option value="4" th:text="#{galeria.voto.opcion.4}">4 - Buena</option>
				<option value="5" th:text="#{galeria.voto.opcion.5}">5 - Excelente</option>
			</select><br>
			<button type="submit" th:text="#{galeria.boton.votar}">Votar</button><br><br>
			<!-- Botones para modificar o eliminar un cuadro-->
			<div class="botones"> 
			<div class="boton__admin boton__modificar" sec:authorize="hasRole('ADMIN')">
				<a class="enlace__admin enlace__modificar" th:href="@{/modificarCuadro/{id}(id=${cuadro.id})}">Modificar</a>
			</div>
			<div class="boton__admin boton__eliminar" sec:authorize="hasRole('ADMIN')">
				<a href="#" 
				   th:onclick="'eliminarCuadro(\'' + @{/eliminarCuadro/{id}(id=${cuadro.id})} + '\')'"
				   class="enlace__admin enlace__eliminar">
				   Eliminar
				</a>
			<!--<a class="enlace__admin enlace__eliminar" th:href="@{/eliminarCuadro/{id}(id=${cuadro.id})}">Eliminar</a>-->
			</div>
			</div>
		</form>
	</div>
	<script th:src="@{/js/scripts.js}"></script>
</body>

</html>