<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{inicio.titulo.ventana}">Acceso a la Galería</title>
	<link rel="stylesheet" th:href="@{/css/inicio.css}" />
	<link rel="icon" type="image/png" th:href="@{https://res.cloudinary.com/dzjb4fkau/image/upload/v1770106134/logo_xjk4gb.png}">

</head>

<body>
	
	<div class="contenedor-idioma">
	    <button class="boton-idioma" onclick="toggleMenu()" th:text="#{idioma.boton}">Idioma</button>
	    <ul id="listaIdiomas" class="menu-desplegable">
	        <li><a th:href="@{''(lang=es)}">Español</a></li>
	        <li><a th:href="@{''(lang=en)}">English</a></li>
			<li><a th:href="@{''(lang=de)}">Deutsch</a></li>
			<li><a th:href="@{''(lang=fr)}">French</a></li>
	    </ul>
	</div>

    <div class="tarjeta-acceso">
        
        <h1 class="titulo-principal" th:text="#{inicio.titulo.login}">Inicia sesión en la galería</h1>
        
        <p th:if="${mensajeError}" th:text="${mensajeError}" class="mensaje-alerta"></p>
        <p th:if="${param.error}" class="mensaje-alerta" th:text="#{inicio.error.login}">Usuario o contraseña incorrectos</p>

        <form th:action="@{/login}" method="post" class="formulario-login">
            
            <label class="etiqueta-input" for="email" th:text="#{inicio.placeholder.email}">Email</label>
            <input class="datos" type="text" name="email" id="email" required /> 

            <label class="etiqueta-input" for="password" th:text="#{inicio.placeholder.pass}">Contraseña</label>
            <input class="datos" type="password" name="password" id="password" required /> 

            <input type="submit" class="boton-login" th:value="#{inicio.boton.enviar}" />
        </form>
		<div class="oauth-container">
		    <div class="separator">o</div>
		    
		    <a href="/oauth2/authorization/google" class="google-link-reset">
		        <div class="google-btn">
					<img th:src="@{/imagenesLogos/iconGoogle.svg}" 
					     alt="Google Logo" 
					     class="google-icon">
		            <span class="google-text" th:text="#{login.google}">Iniciar sesión con Google</span>
		        </div>
		    </a>
		</div>

        <div class="separador"></div>

        <div class="seccion-registro">
            <span th:text="#{inicio.titulo.registro}">¿No tienes cuenta?</span>
            <a th:href="@{/registro}" class="enlace-registro" th:text="#{inicio.boton.registro}">Regístrate aquí</a>
        </div>

    </div>

	<script th:src="@{/js/scripts.js}"></script>
</body>
</html>