<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{modificar.titulo}">Modificar Cuadro</title>
	<link rel="stylesheet" th:href="@{/css/modificarCuadro.css}" />
	<link rel="icon" type="image/png" th:href="@{https://res.cloudinary.com/dzjb4fkau/image/upload/v1770106134/logo_xjk4gb.png}">
</head>

<body>
	<form th:action="@{/cuadroModificado}" method="POST" th:object="${cuadro}" class="formulario" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}" />
		<label th:text="#{form.label.nombre}">Nombre </label>
		<input type="text" class="datos" name="nombre" th:placeholder="#{placeholder.nombre_cuadro}" th:field="*{nombre}" required>
		<label th:text="#{form.label.autor}">Autor</label>
		<input type="text" class="datos" name="autor" th:placeholder="#{placeholder.autor}" th:field="*{autor}" required>
		<label th:text="#{form.label.epoca}">Época</label>
		<select name="epoca" th:field="*{epocaPintura}" class="datos">
			<option th:each="epoca : ${epocas}" th:value="${epoca}" th:text="${epoca}"></option>
		</select>
		
		<button type="submit" class="boton" th:text="#{boton.guardar}">Guardar</button>
		<div class="volver">
				<a th:href="@{/galeria}" th:text="#{link.volver_galeria}">Volver a la galería de arte</a>
			</div>
	</form>
	

</body>

</html>