<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{ranking.titulo}">Ranking de cuadros</title>
	<link rel="stylesheet" th:href="@{/css/ranking.css}" />
	<link rel="icon" type="image/png" th:href="@{https://res.cloudinary.com/dzjb4fkau/image/upload/v1770106134/logo_xjk4gb.png}">
</head>

<body>
	<header>
		<h1  th:text="#{ranking.titulo}">Ranking de cuadros</h1>
		<!-- Enlace para volver a a la galeria -->
			<div class="volver">
				<a th:href="@{/galeria}" th:text="#{link.volver_galeria}">Volver a la galería de arte</a>
			</div>
	</header>
<!--Una tabla donde se muestran todos los cuadros con los datos -->

<!--Cada cuadro se ordena por la puntuación de los votos de mayor a menor-->
	<table>
		<tr>
			<th th:text="#{tabla.obra}">OBRA</th>
			<th th:text="#{tabla.autor}">AUTOR</th>
			<th th:text="#{tabla.epoca}">ÉPOCA</th>
			<th th:text="#{tabla.puntuacion}">PUNTUACIÓN PROMEDIO</th>
			<th th:text="#{tabla.imagen}">IMAGEN</th>
		</tr>
		<tr th:each="cuadro : ${galeria}" >
			<td th:text="${cuadro.nombre}"></td>
			<td th:text="${cuadro.autor}"></td>
			<td th:text="${cuadro.EpocaPintura}"></td>
			<td th:text="${cuadro.media}"> </td>
			<td><img th:src="@{${cuadro.urlImg}}" alt="Cuadro" /></td>
		</tr>
	</table>

	
</body>

</html>