<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{registro.titulo}">Regístrate</title>
	<link rel="stylesheet" th:href="@{/css/registro.css}" />
	<link rel="icon" type="image/png" th:href="@{https://res.cloudinary.com/dzjb4fkau/image/upload/v1770106134/logo_xjk4gb.png}">
</head>

<body>

	<div class="tarjeta-registro">
		
		<h1 class="titulo-principal" th:text="#{registro.header}">Regístrate en la galería</h1>

		<div th:if="${mensajeError}" class="mensaje-alerta">
			<p th:text="${mensajeError}"></p>
		</div>
		<div th:if="${cuentaCreada}" class="mensaje-alerta">
					<p th:text="${cuentaCreada}"></p>
				</div>

		<form th:action="@{/registro}" method="post" class="formulario-registro">
			
			<div class="grupo-input">
				<label for="username" class="etiqueta-input" th:text="#{form.nombre}">Nombre*</label>
				<input type="text" name="nombre" class="datos" autofocus required>
			</div>
			
			<div class="grupo-input">
				<label for="email" class="etiqueta-input" th:text="#{form.email}">Email*</label>
				<input type="email" name="email" class="datos" pattern="^[\w.%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
			</div>

			<div class="grupo-input">
				<label for="password" class="etiqueta-input" th:text="#{form.pass}">Contraseña*</label>
				<input type="password" name="password" class="datos" required>
			</div>

			<input type="submit" th:value="#{boton.enviar}" class="boton-registro">
		</form>

		<div class="separador"></div>

		<div class="pie-registro">
			<span>¿Ya tienes cuenta?</span>
			<a th:href="@{/inicio}" class="enlace-volver" th:text="#{boton.volver}">Volver</a>
		</div>

	</div>

</body>
</html>