* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: rgb(250, 247, 251);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	padding: 20px;
	min-height: 100vh;
}

h1 {
	color: rgb(55, 78, 100);
	text-align: center;
	margin-bottom: 20px;
	font-size: 2.5rem;
}

div {
	display: flex;
	justify-content: center;
	width: 100%;
}

.enlace {
	font-size: 1.4rem;
	line-height: 20px;
	text-decoration: none;
	color: rgb(114, 128, 129);
	background-color: white;
	border-radius: 12px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
	text-align: center;

	width: 300px;
}

.enlace:hover {
	color: rgb(69, 74, 75);
	background-color: rgb(186, 201, 216);
}