* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: rgb(250, 247, 251);
	line-height: 1.6;
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

header {
	text-align: center;
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgb(186, 202, 217);
	border-radius: 8px;
}

h1 {
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 0;
	color: rgb(56, 56, 56);
}

.cuadro {
	background-color: white;
	border-radius: 8px;
	padding: 25px;
	margin-bottom: 30px;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

h2 {
	font-weight: 400;
	font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: 15px;
	color: #444;
}

p {
	margin: 8px 0;
}

.indice {
	color: #555;
}

img {
	max-width: 500px;
	height: auto;
	margin-top: 20px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.enlaces {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding: 0 10px;
	gap: 20px;
	flex-wrap: wrap;
}

.enlace {
	font-size: 1.4rem;
	line-height: 20px;
	text-decoration: none;
	color: rgb(114, 128, 129);
	background-color: white;
	border-radius: 12px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
	padding: 20px 30px;
	text-align: center;
	width: 300px;
	min-width: 250px;

}

.enlace:hover {
	color: rgb(69, 74, 75);
	background-color: rgb(186, 201, 216);
}