* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(250, 247, 251);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90px;
    width: 100%;
    background-color: rgb(186, 202, 217);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 600;
    font-size: 2.2rem;
    color: rgb(107, 107, 107);
    margin: 0;
}

table {
	margin-top: 90px;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

th {
    background-color: rgb(154, 176, 199);
    color: white;
    padding: 15px;
    font-weight: 600;
	text-align: left;
}

td {
    padding: 15px;
    border-bottom: 1px solid rgb(226, 226, 226);
    color: rgb(61, 85, 109);
}

tr:hover {
    background-color: rgb(245, 248, 250);
}


img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.volver {
    margin-top: 20px;
	margin-bottom: 100px;
}

.volver a {
    text-decoration: none;
    color: rgb(114, 128, 129);
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
}

.volver a:hover {
    color: rgb(69, 74, 75);
    background-color: rgb(186, 201, 216);
}