 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Noticias</title>
</head>

<body>
	<h1>Tablón de anuncios</h1>

	<p th:if="${mensajeBienvenida}" th:text="${mensajeBienvenida}"></p>

	<ul>
	    <li th:each="anuncio, stat : ${anuncios}">
			<a th:href="@{/verAnuncio/{indice}(indice=${stat.index})}"
			           th:text="${anuncio.nombre} + ' ' + ${anuncio.asunto}"></a>
	    </li>
	</ul>
	<a href="/añadirAnuncio">Nuevo anuncio</a>
</body>

</html>