* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 247, 251);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    min-height: 100vh;
}


.navegador {
    top: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgb(186, 201, 216); 
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 0; 
}

/* para que tenga el límite de 1200px */

.enlaces {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: flex-end; 
    padding-right: 30px; 
    box-sizing: border-box;
}


.navegador__enlace {
    text-decoration: none;
    color: rgb(114, 128, 129);
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 25px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.navegador__enlace:hover {
    color: rgb(69, 74, 75);
    background-color: rgb(240, 240, 240);
    
}

.buscador {
    width: 100%;
    max-width: 500px;
    margin-bottom: 40px;
    text-align: center;
}

.buscador__titulo {
    color: #34495e;
    margin-bottom: 20px;
}

.buscador__formulario {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
}

.buscador__subtitulo {
    margin-bottom: 15px;
    color: #7f8c8d;
}

/*  Grupo de opciones */
.buscador__opciones {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Oculta el circulo del checkbox predeterminado */
.buscador__radio-group input[type="radio"] {
    display: none;
}

/* Hace que el checkbox se convierte en botón */
.buscador__radio-label {
    display: inline-block;
    padding: 10px 25px;
    background-color: white;
    color: rgb(114, 128, 129);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 2px solid transparent;
    transition: all 0.3s ease;
}


.buscador__radio-label:hover {
    background-color: rgb(240, 240, 240);
}

/* Cambia el estilo para que se muestre diferente al pulsarlo */
.buscador__radio-group input[type="radio"]:checked + .buscador__radio-label {
    background-color: rgb(154, 176, 199); 
    color: white;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
    border-color: rgb(134, 156, 179);
}


.buscador__grupo {
    margin-bottom: 15px;
}


.buscador__grupo--oculto {
    display: none;
}

.buscador__label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
}

.buscador__input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #bdc3c7;
    width: 80%;
    font-size: 1rem;
}

.buscador__select {
    appearance: none;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    color: rgb(114, 128, 129);
    width: auto;
    min-width: 200px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.buscador__select:hover {
    background-color: rgb(245, 245, 250);
}

.buscador__boton {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: rgb(154, 176, 199);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.buscador__boton:hover {
    background-color: rgb(86, 121, 156);
}

.separador {
    width: 80%;
    border: 0;
    border-top: 1px solid #bdc3c7;
    margin-bottom: 30px;
}

.resultados__titulo {
	text-align: center;
    color: #34495e;
    margin-bottom: 20px;
}

.resultados__mensaje {
    color: #7f8c8d;
}

.resultados__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 20px 40px 20px;
    width: 100%;
}


.obra {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px; 

}

.obra img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 280px; 
    object-fit: cover;
    margin-top: 10px;
}

.obra h3 {
    color: #34495e;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.obra p {
    color: #7f8c8d;
    font-size: 0.9rem;
}