* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(250, 247, 251);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 70px;
    min-height: 100vh;
 
}

.navegador {
    top: 0;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(186, 201, 216); 
    display: flex;
    z-index: 100;
}

a {
	font-size: 1.2rem;
    line-height: 20px;
    text-decoration: none;
    color: rgb(114, 128, 129);
}

.enlaces {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-align: center;
    height: 100%;

}

a:hover {
    color: rgb(69, 74, 75);
}

.e1{
	margin-left: 30px;
}

.obra {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px; 
    height: auto; 
   
}


.obra img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 280px;
}

.obra h3 {
    margin: 10px 0 5px;
    color: #34495e;
}

.obra p {
    margin: 5px 0 10px;
    color: #7f8c8d;
}

 select, button {
    padding: 8px 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #bdc3c7;
}

.obra button {
    background-color: rgb(154, 176, 199);
    color: white;
}

.obra button:hover {
    background-color: rgb(86, 121, 156);
}