* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
	background-color: rgb(250, 247, 251);
}

h1 {
	margin: 30px 20px;
	color: darkgrey;
	text-align: center;
}

p {
	margin: 20px;
}

.formulario {
	background-color: white;
	padding: 60px 80px;
	border-radius: 15px;
	box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
	display: inline-block;
	width: 500px;
	font-size: 1.2em;
}

.datos {
	width: 100%;
	height: 35px;
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-top: 5px;
	color: rgb(69, 74, 75);
}

.boton {
	text-decoration: none;
	color: rgb(114, 128, 129);
	background-color: white;
	border-radius: 10px;
	border: 0px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	text-align: center;
	width: 120px;

}

.boton:hover {
	color: rgb(69, 74, 75);
	background-color: rgb(186, 201, 216);
	box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
}