<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="#{correo.titulo}">Preparar Aviso</title>
	<link rel="stylesheet" th:href="@{/css/modificarCuadro.css}" />
	<link rel="stylesheet" th:href="@{/css/enviarCorreo.css}" />
	<link rel="icon" type="image/png" th:href="@{https://res.cloudinary.com/dzjb4fkau/image/upload/v1770106134/logo_xjk4gb.png}">
</head>

<body>

	<h1 class="titulo" th:text="#{correo.header}">Avisar a los usuarios</h1>
	<h3 class="informacion__obra" th:text="|#{correo.subtitulo}: ${cuadro.nombre}|">Sobre la obra: Nombre
	</h3>

	<form th:action="@{/enviarAviso}" method="POST" class="formulario">

		<input type="hidden" name="idCuadro" th:value="${cuadro.id}" />

		<label th:text="#{correo.label.asunto}">Asunto del correo</label>
		<input type="text" class="datos" name="asunto" th:value="|Nueva obra disponible: ${cuadro.nombre}|" required />

		<label th:text="#{correo.label.mensaje}">Mensaje</label>
		<textarea class="datos" name="cuerpo" rows="8" required style="height:150px; padding:10px;">
Hola,

Nos complace anunciarte que hemos añadido una nueva obra a nuestra colección.

Te invitamos a visitar la galería para verla y dejar tu puntuación.

¡Te esperamos!
        </textarea>

		<button type="submit" class="boton" th:text="#{correo.boton.enviar}">Enviar Correos</button>

		<div class="volver">
			<a th:href="@{/galeria}" th:text="#{correo.link.saltar}">No enviar y volver a la galería</a>
		</div>
	</form>

</body>

</html>